.headers {
	text-align: left;
}

input[type = "checkbox"]{
	-webkit-appearance:none;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 10px;
	border: 2px solid #555;
}

input[type = "checkbox"]:checked{
	background: #FF00FF;
}
input:not([type = "checkbox"]):not([type = "radio"]){
	-webkit-appearance:none;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
}
input[type = "submit"]{
	border-radius: 20px;
	background: #0004ff;
	color: white;
	font-size: 30px;

}
select {
	cursor: pointer;
}
input[type = "radio"], input[type = "checkbox"], input[type="submit"] {
	cursor: pointer;
}
input:not([type='checkbox']):not([type = "radio"]):hover{
 	box-shadow: 0 4px 8px 0 rgba(0,0,60,.25), 0 6px 20px 0 rgba(0, 0, 20, 0.19);
 	font-size: 30px;
}
ul {
    list-style: none;
    font-size: 1.3em;
    font-family: "Verdana";
    list-style-position: outside;
    text-align: left;
}


#FullName, #HomeAddress, #BusinessAddress, #BuisnessContact, #InterestFinderCheckList {
	padding: 5px;
	width: 100%;
	font-family: "Arial";
	font-size: 1.4em;
	margin: 0px 0px 5px 0px;
	border: 2px solid #ccc;
    border-width: 100%;
}


label {
    font-size: 1.4em;
}
form {
	width: 50%;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

body {
    background: url("background.gif") repeat;
    font-size: 62.5%;
	font-family: Helvetica, sans-serif;
}

textarea {
	-webkit-appearance:none;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
}

select {
	width: 100%;
	font-size: 13px;
  	padding: 10px 8px 10px 14px;
  	background: #fff;
  	border-radius: 6px;
  	position: relative;
}