

/*
form {
	font-weight: 300
	margin: auto;
	width: 75%;
	border: 2px #FF00FF solid;
	padding: 10px;
	text-align: center;

}
*/

.headers {
	text-align: left;
}

input[type = "checkbox"]{
	-webkit-appearance:none;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 10px;
	border: 2px solid #555;
}

input[type = "checkbox"]:checked{
	background: #FF00FF;
}


ul {
    list-style: none;
    font-size: 1.3em;
    font-family: "Verdana";
    list-style-position: outside;
    text-align: left;
}


#FullName, #HomeAddress, #ContactInfo, #BusinessAddress, #BusinessContact {
	padding: 5px;
	width: 100%;
	font-family: "Arial";
	font-size: 1.4em;
	margin: 0px 0px 5px 0px;
	border: 2px solid #ccc;
    border-width: 100%;
}

label {
    font-size: 1.4em;
}
form {
	width: 50%;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

body {
    background: url("background.gif") repeat;
    font-size: 62.5%;
	font-family: Helvetica, sans-serif;
}
